:root {
  --total-black: #000;
  --semi-black: #111;
  --total-white: #fff;
  --semi-white: #666;
  --orange: orange;
}

body {
  background-color: var(--total-black);
  color: var(--orange);
  font-family: 'Kanit', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
